.about {
    max-width: none;
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    background: var(--blue-dark);
    padding: var(--content-padding);

    >div {
        max-width: calc(192rem - var(--content-padding));
        margin: 0 auto;
    }
}
