.home {
    display: flex;
    justify-content: space-evenly;
    padding: var(--content-padding);

    @media screen and (max-width: 900px) {
        flex-direction: column;
    }

    h1 {
        font-size: 4.8rem;
        line-height: 0;
        color: var(--cyan);
        font-weight: 700;
    }

    span {
        color: var(--green-light);
        font-weight: 600;
    }

    svg {
        font-size: 28rem;
        filter: drop-shadow(-0.2rem 0.2rem 0.3rem black);
    }

    main {
        text-shadow: -0.2rem 0.2rem 0.3rem black;
    }

    article {
        max-width: 30rem;
        text-align: justify;
        line-height: 140%;
        font-size: 2rem;
        letter-spacing: 0.3rem;
        text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black, -1px -1px 1px black;
    }
}
