$card-width: 35rem;
$grid-gap: 3rem;


.projects {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;

        >h2 {
            width: calc((4 * $card-width) + (3 * $grid-gap));

            @media screen and (max-width: 1600px) {
                width: calc((2 * $card-width) + (1 * $grid-gap));
            }
            @media screen and (max-width: 800px) {
                width: $card-width;
            }
        }

        ul {
            display: grid;
            margin-top: 5rem;
            gap: $grid-gap;
            grid-template-columns: repeat(4, $card-width);

            @media screen and (max-width: 1600px) {
                grid-template-columns: repeat(2, $card-width);
            }
            @media screen and (max-width: 800px) {
                grid-template-columns: repeat(1, $card-width);
            }

            >li {
                display: flex;
                height: 21rem;
                border-radius: 1.6rem;
                overflow: hidden;
                transition: 0.2s ease-in;
                background: var(--gray-dark);
                background-size: cover;

                >a {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    >h3 {
                        opacity: 0;
                        font-size: 2.8rem;
                        font-weight: bold;
                        color: var(--cyan);

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 12rem;
                        height: 12rem;
                        border-radius: 100%;
                        background: black;
                    }
                }

                &.CG {
                    background-image: url('/CG.webp');
                }
                &.Damas {
                    background-image: url('/Damas.webp');
                }
                &.CCBR h3 {
                    opacity: 1;
                }
                &.SpotPer {
                    background-image: url('/SpotPer.webp');
                }

                &:hover {
                    transform: scale(110%);

                    >a {
                        background-color: #00000070;

                        >h3 {
                            animation: fadeIn 0.4s forwards;
                        }
                    }
                }
            }
        }
    }
}

@keyframes fadeIn {
    40% {
        opacity: 0.3;
    }
    100% {
        opacity: 1.0;
    }
}
