@import "vars.scss";

html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html {
  color-scheme: dark;
  overflow-x: clip;

  font-size: 10px;  // 1rem = 10px

  @media screen and (min-width: 2000px) {
    font-size: 16px;
  }
  @media screen and (max-width: 700px) {
    font-size: 8px;
  }
}

body {
  font-size: 1.6rem;
  color: white;
  background: linear-gradient(90deg, rgba(30,38,51,1) 0%, rgba(40,52,70,1) 100%);

  >main {
    padding: var(--page-padding);
    padding-top: calc(var(--header-height) + var(--page-padding));
    min-height: calc(100vh);

    >section {
      min-height: calc(100vh - var(--header-height) - 2 * var(--page-padding) - 5rem);

      h2 {
        color: var(--green-light);
        font-size: 4.8rem;
        text-shadow: -0.2rem 0.2rem 0.3rem black;
    }
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
* {
  box-sizing: border-box;
  scroll-margin-top: var(--header-height);
  scroll-behavior: smooth;
}

@media screen and (hover :hover) {
  /* custom scroll only to desktop */

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: RGB(255, 255, 255, 0.25) var(--blue-dark);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 1rem;
  }
  *::-webkit-scrollbar-track {
    background: var(--blue-dark);
  }
  *::-webkit-scrollbar-thumb {
    background-color: RGB(255, 255, 255, 0.25);
    border-radius: 1.6rem;
    border: 0.2rem solid var(--blue-dark);
  }

}


.full-width-bg {
  max-width: none;
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  background: var(--blue-dark);
  padding: var(--content-padding);

  @media screen and (max-width: 500px) {
    padding: calc(var(--content-padding) / 1.5);
  }
}

.centered {
  max-width: 192rem;
  margin: 0 auto;
}
