@import "vars.scss";

html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html {
  font-size: 10px;  // 1rem = 10px
  scroll-behavior: smooth;
  color-scheme: dark;
  overflow-x: clip;
}

html {
  color-scheme: dark;
}

body {
  font-size: 1.6rem;
  color: white;
  background: linear-gradient(90deg, rgba(30,38,51,1) 0%, rgba(40,52,70,1) 100%);
  padding: var(--page-padding);

  >* {
    max-width: 192rem;
    margin: 0 auto;
  }

  >main {
    margin-top: var(--header-height);

    >section {
      height: calc(100vh - var(--header-height) - 2 * var(--page-padding) - 5rem);
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
  scroll-margin-top: var(--header-height);
}
ul {
  list-style-type: none;
}
