:root {
    /* colors */
    --blue-dark: #1B2430;
    --cyan: #21E6C1;
    --green-light: #A3F7BF;
    --gray: #303030;
    --gray-dark: #1B1B1B;

    /* sizes */
    --page-padding: 1.4rem;
    --content-padding: 8rem;
    --header-height: 6rem;
}
